<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Edit Operation
      </div>
      <div class="card-body">
        <form #editOpForm="ngForm" (ngSubmit)="updateOperation(editOpForm)">
          <div class="form-group">
            <input type="text" [(ngModel)]="operationsService.selectedOperation.concept" name="concept"
              class="form-control" placeholder="Concept" autofocus>
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="operationsService.selectedOperation.amount" name="amount"
              class="form-control" placeholder="Amount">
          </div>
          <div class="form-group">
            <input type="datetime" [(ngModel)]="operationsService.selectedOperation.date" name="date"
              class="form-control" placeholder="Date format YYYY/MM/DD">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="operationsService.selectedOperation.category" name="category"
              class="form-control" placeholder="Category">
          </div>
          <button type="submit" class="btn btn-info btn-block">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
