<!-- <app-search></app-search> -->
<div class="container">
  <div class="bg-primary p-3 mb-4 d-flex d-flex justify-content-between align-items-end">
    <h4>Total Income: </h4>
    <h4>${{operationsService.balance.totalIncome}}</h4>
  </div>
  <div class="bg-danger p-3 mb-4 d-flex d-flex justify-content-between align-items-end">
    <h4>Total Egress: </h4>
    <h4>${{operationsService.balance.totalDischarge}}</h4>
  </div>
  <div class="bg-dark p-3 mb-4 d-flex d-flex justify-content-between">
    <h4 class="text-light">Balance: </h4>
    <h4 class="text-light">${{operationsService.balance.balance}}</h4>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Concept</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">OpType</th>
        <th scope="col">Category</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operation of operationsService.operations">
        <th scope="row">{{ operation.id }}</th>
        <td>{{operation.concept}}</td>
        <td>$ {{operation.amount}}</td>
        <td>{{operation.date}}</td>
        <td>{{operation.opType}}</td>
        <td>{{operation.category}}</td>
        <div class="p-1">
          <button class="btn btn-primary m-1" (click)="operationSelected(operation.id)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger m-1" (click)="deleteOperation(operation.id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
